@model HTML5_Feleves.Models.Table

@{
    ViewData["Title"] = "Szerkeztés [ADMIN]";
    Table table = ViewBag.Table;
}

<h4>Asztal szerkeztése: "@table.Name"</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" value="@table.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" value="@table.Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" value="@table.Id" class="form-control" readonly="readonly" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-page-handler="Upload" class="btn-primary" type="submit" value="Felvitel">
            </div>
        </form>
    </div>
</div>

<div>
    <p></p>
    <a asp-action="Index">Vissza</a>
</div>
